* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #08090A;
  color: #fff;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  border: solid;
  border-bottom-color: rgba(255, 255, 255, 0.127);
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffffa7;
  font-size: 14px;
}

.nav-links a:hover {
  color: #ffffff;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #222;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}

.log-btn {
  background-color: transparent;
  color: #ffffffa7;
  width: 55px;
  height: 30px;
  border-radius: 7px;
  border: none;
}

.log-btn:hover {
  background-color: #2f2f2f;
  transition: 0.5 ease;
  color: white;
}

.sign-btn {
  width: 65px;
  height: 30px;
  border-radius: 7px;
  border: none;
}

.cursor {
  border-right: 2px solid rgba(255, 255, 255, .75);
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.typewriter-animation {
  animation:
    typewriter 5s steps(50) 0.5s 1 normal both,
    blinkingCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkingCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}



h1 {
  font-size: 57px;
  margin-top: 120px;
  margin-left: 70px;
}

h2 {
  font-size: 57px;
  margin-left: 70px;
}

h3 {
  margin-left: 70px;
  margin-top: 20px;
  font-size: 16px;
  color: #8C919B;
  font-style: normal;
}

h4 {
  margin-left: 70px;
  margin-top: 7px;
  font-size: 16px;
  color: #8C919B;
  font-style: normal;
}

.start-building-btn {
  border: none;
  border-radius: 12px;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  width: 130px;
  margin-left: 70px;
  margin-top: 35px;
}

.new-btn {
  border: none;
  border-radius: 12px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  width: 230px;
  margin-left: 12px;
  margin-top: 35px;
}

.new-btn:hover {
  background-color: rgb(43, 43, 43);
}

.app-image {
  width: 1000px;
  margin-top: 40px;
  margin-left: 150px;
  height: auto;
}

.powering-text {
  text-align: center;
  font-size: 22px;
  margin-top: 100px;
}

.from-text {
  text-align: center;
  color: #8C919B;
  font-size: 22px;
}

.customers-container {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  font-weight: bold;
}

.made-text-div {
  font-size: 55px;
  font-weight: bold;
  margin-top: 200px;
  margin-left: 70px;
}

.linear-text-div {
  margin-top: 225px;
  margin-left: 80px;
  color: #8C919B;
}

.linear-text-div p {
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: white;
}

.nested-div {
  background-color: #111113;
  width: 335px;
  height: 350px;
  border: none;
  border-radius: 30px;
}

.nested-div-text {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}

.nested-div-text1 {
  margin-top: 5px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}

.nested-div-text2 {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}

.plus-icon1,
.plus-icon2,
.plus-icon3 {
  background-color: transparent;
  border: solid #80808051;
  color: #b3b3b3;
  width: 40px;
  height: 40px;
  margin-left: 40px;
  margin-top: -12px;
  border-radius: 100%;
  font-size: 22px;
  text-align: center;
  padding-top: 6px;
  z-index: 1;
}

.plus-icon2 {
  margin-left: 30px;
  margin-top: 12px;
}

.plus-icon3 {
  margin-left: 45px;
  margin-top: 12px;
}

.linear-gradient-div {
  margin-top: 150px;
  width: 1115px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.051), transparent 30%);
}

.learn-more-btn {
  background-color: #222;
  color: white;
  border: none;
  border-radius: 7px;
  margin-top: 25px;
  width: 120px;
  height: 32px;
}

.learn-more-btn:hover {
  background-color: #2f2f2f;
}

.app-image1 {
  margin-top: 40px;
  margin-left: 40px;
  width: 1040px;
  height: auto;
}

.self-div {
  border: solid #80808025;
  border-left-color: transparent;
  width: 510px;
  height: 590px;
  margin-left: 50px;
}

.app-image2 {
  width: 500px;
  height: 400px;
  margin-top: 40px;
  margin-left: -17px;
}

.app-image4 {
  width: 500px;
  height: 400px;
  margin-top: 50px;
  margin-left: 20px;
}

.linear-div {
  border: solid #80808025;
  border-right-color: transparent;
  border-left-color: transparent;
  width: 510px;
  margin-left: 0px;
}

.app-image5 {
  width: 1100px;
  height: auto;
}

.manage-div {
  border: solid #80808025;
  border-left-color: transparent;
  width: 510px;
  height: 530px;
  margin-left: 50px;
}

.manage-div1 {
  border: solid #80808025;
  border-left-color: transparent;
  width: 510px;
  height: 560px;
  margin-left: 50px;
}

.app-image6 {
  margin-top: 25px;
  margin-left: -10px;
  width: 400px;
  height: auto;
}

.app-image7 {
  margin-top: 25px;
  margin-left: 10px;
  width: 500px;
  height: auto;
}

.line-div {
  width: 4px;
  height: 25px;
  background-color: yellow;
  border-radius: 2px;
}

.Collabrative-inline-text {
  margin-left: 10px;
  margin-top: 3.5px;
  font-size: 19px;
  color: #8C919B
}

.app-image8 {
  width: 500px;
  height: 400px;
  margin-top: 50px;
  margin-left: 200px;
}

.line {
  margin-left: 50px;
  margin-top: 50px;
  width: 1000px;
  height: 1px;
  background-color: #80808025;
}

.app-image10 {
  width: 500px;
  height: 400px;
  margin-top: 20px;
  margin-left: -25px;
}

.app-image11 {
  width: 500px;
  height: 400px;
  margin-top: 20px;
  margin-left: 35px;
}

.download-btn {
  border: solid 1px rgba(128, 128, 128, 0.171);
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #2f2f2f;
  width: 100px;
  height: 40px;
  margin-left: 200px;
}

.open-btn {
  border: solid 1px rgba(128, 128, 128, 0.171);
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  height: 40px;
  margin-left: 7px;
}

.website-logo {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.title {
  margin-bottom: 30px;
  font-size: 14px;
}

.footer-options {
  font-size: 14px;
  color: #8C919B;
  margin-top: 15px;
}

.footer-options:hover {
  color: white;
  cursor: pointer;
}

.gradient-text {
  font-size: 16px;
  margin-top: 5px; 
  margin-left: 5px;

  background: linear-gradient(to right,#e63946 , #8d5a60 ,#7f7f7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Optional: smoother gradient look */
  background-size: 100%;
}

/* animation for texts */
.slide-left {
  opacity: 0;
  transform: translateX(-20px);
  /* A → B animation start */
  transition: all 1s ease;
}

.slide-left.show {
  opacity: 1;
  transform: translateX(0);
  /* final position (B) */
}

.slide-up {
  opacity: 0;
  transform: translateY(20px);
  /* start from below */
  transition: all 1s ease;
}

.slide-up.show {
  opacity: 1;
  transform: translateY(0);
  /* final resting position */
}