* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #08090A;
    color: #fff;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    border: solid;
    border-bottom-color: rgba(255, 255, 255, 0.127);
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffffa7;
    font-size: 14px;
}

.nav-links a:hover {
    color: #ffffff;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #222;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 15px;
        border-radius: 8px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-btn {
        display: block;
    }
}

.log-btn {
    background-color: transparent;
    color: #ffffffa7;
    width: 55px;
    height: 30px;
    border-radius: 7px;
    border: none;
}

.log-btn:hover {
    background-color: #2f2f2f;
    transition: 0.5 ease;
    color: white;
}

.sign-btn {
    width: 65px;
    height: 30px;
    border-radius: 7px;
    border: none;
}

.header-text {
    color: #FFD700;
    font-size: 45px;
    margin-top: 35px;
    text-align: center;
    margin-bottom: 0px;
    font-family: Arial;
}

#box {
    width: 300px;
    height: 480px;
    font-family: 'Raleway';
    font-size: 2.5rem;
}

.gradient-border {
    --borderWidth: 3px;
    background: #090909;
    position: relative;
    border-radius: 10px;
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #3a0f57,#3a0f57,black,#3a0f57,#3a0f57);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 5s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.type {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: bold;
    color: white;
}

.plan {
    margin-top: 22px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    color: rgb(209, 195, 195);
}

.who {
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 18px;
    color: #d1c3c3;
}

.month {
    color: #d1c3c3;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.dollar {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial;
    color: white;
}

.get-started-btn {
    background-color: #5959b8;
    color: white;
    border: none;
    border-radius: 10px;
    width: 132px;
    height: 33px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 130px;
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 85px;
}

.features {
    color: rgb(209, 195, 195);
    font-size: 15px;
    margin-left: 27px;
    margin-bottom: 10px;
}

.second-text {
    color: rgb(209, 195, 195);
    font-size: 15px;
    margin-left: 27px;
    margin-top: 0px;
}

.third-text {
    color: rgb(209, 195, 195);
    font-size: 15px;
    margin-left: 27px;
    margin-top: 0px;
}

.fourth-text {
    color: rgb(209, 195, 195);
    font-size: 15px;
    margin-left: 27px;
    margin-top: 0px;
}

.website-logo {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.title {
    margin-bottom: 30px;
    font-size: 14px;
}

.download-btn {
  border: solid 1px rgba(128, 128, 128, 0.171);
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #2f2f2f;
  width: 100px;
  height: 40px;
  margin-left: 200px;
}

.open-btn {
  border: solid 1px rgba(128, 128, 128, 0.171);
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  height: 40px;
  margin-left: 7px;
}

.footer-options {
    font-size: 14px;
    color: #8C919B;
    margin-top: 15px;
}

.footer-options:hover {
    color: white;
    cursor: pointer;
}

.gradient-text {
  font-size: 16px;
  margin-top: 5px; 
  margin-left: 5px;

  background: linear-gradient(to right,#e63946 , #8d5a60 ,#7f7f7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Optional: smoother gradient look */
  background-size: 100%;
}